<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bae.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/biosensors_lab_logo_shield"
        android:label="@string/app_name"
        android:roundIcon="@drawable/biosensors_lab_logo_shield"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!--  Taking Picture Activity      -->
        <activity
            android:name="com.bae.myapplication.activities.MenuActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  After taking picture Activity      -->
        <activity
            android:name="com.bae.myapplication.activities.DataCaptureActivity"
            android:screenOrientation="landscape">
        </activity>

        <!--  Showing the results activity      -->
        <activity
            android:name="com.bae.myapplication.activities.DataAnalysisActivity"
            android:screenOrientation="landscape">
        </activity>

        <!-- Activity for browsing saved data   -->
        <activity
            android:name="com.bae.myapplication.activities.SavedDataBrowsingActivity"
            android:screenOrientation="landscape">
        </activity>

        <!-- Activity for graphing data   -->
        <activity
            android:name="com.bae.myapplication.activities.DataGraphViewActivity"
            android:screenOrientation="landscape" android:parentActivityName=".activities.MenuActivity">
        </activity>

        <!--  for FileProvider      -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bae.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>